@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
/*
font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif;
*/
* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Barlow', sans-serif; }

header {
  min-height: 100vh;
  background-image: url("../images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover; }
  header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    padding-top: 15px; }
    header nav .logo {
      margin: 25px; }
    header nav .menu {
      display: flex;
      flex-flow: row nowrap;
      list-style: none;
      margin-right: 25px;
      transition: all 0.5s; }
      header nav .menu li {
        margin-right: 25px;
        border-radius: 25px; }
        header nav .menu li a {
          padding: 10px 15px;
          text-decoration: none;
          color: white;
          display: block; }
          header nav .menu li a:hover {
            color: #19536b; }
        header nav .menu li:hover {
          background-color: white;
          transition: all .5s; }
    header nav .btn-toggle {
      display: none;
      margin: 25px;
      cursor: pointer; }
    header nav .menu.show {
      left: -100%; }
  header .banner {
    height: 100%;
    color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    margin: 15px; }
    header .banner .text {
      text-align: center;
      text-transform: uppercase;
      font-family: 'Fraunces', serif;
      font-size: 2.5em;
      letter-spacing: 5px;
      margin-top: 10%; }
    header .banner .arrow {
      margin-top: 5%; }

#about {
  display: flex;
  flex-flow: row-reverse wrap; }
  #about .imagen {
    width: 50%; }
    #about .imagen img {
      width: 100%;
      height: 100%; }
  #about .texto {
    width: 50%; }
    #about .texto .text {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      align-content: center;
      padding: 20% 15% 20% 20%; }
      #about .texto .text h2 {
        font-size: 2.1em;
        font-weight: 900;
        font-family: 'Fraunces', serif;
        margin-bottom: 5%;
        color: #23303e; }
      #about .texto .text p {
        margin-bottom: 5%;
        color: #818498; }
      #about .texto .text div a {
        padding: 8px;
        text-transform: uppercase;
        font-weight: 900;
        text-decoration: none;
        color: #23303e;
        font-family: 'Fraunces', serif; }
      #about .texto .text div span {
        transition: 0.8s;
        position: relative;
        top: -8px;
        z-index: -1;
        display: block;
        width: 100%;
        border-radius: 10px;
        height: 10px; }
      #about .texto .text div:hover span {
        background-color: #fad400; }

#services {
  display: flex;
  flex-flow: row wrap; }
  #services .imagen {
    width: 50%; }
    #services .imagen img {
      width: 100%;
      height: 100%; }
  #services .texto {
    width: 50%; }
    #services .texto .text {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      align-content: center;
      padding: 20% 15% 20% 20%; }
      #services .texto .text h2 {
        font-size: 2.1rem;
        font-weight: 900;
        font-family: 'Fraunces', serif;
        margin-bottom: 5%;
        color: #23303e; }
      #services .texto .text p {
        margin-bottom: 5%;
        color: #818498; }
      #services .texto .text div a {
        padding-left: 5px;
        text-transform: uppercase;
        font-weight: 900;
        text-decoration: none;
        color: #23303e;
        font-family: 'Fraunces', serif; }
      #services .texto .text div span {
        transition: 0.8s;
        position: relative;
        top: -8px;
        z-index: -1;
        display: block;
        width: 100%;
        border-radius: 10px;
        height: 10px; }
      #services .texto .text div:hover span {
        background-color: #fe7867; }

#projects {
  display: flex;
  flex-flow: row wrap;
  text-align: center; }
  #projects .graphicdesign {
    width: 50%;
    height: 70vh;
    background-image: url("../images/desktop/image-graphic-design.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: end;
    color: #25564b; }
    #projects .graphicdesign h3 {
      font-size: 1.5rem;
      font-weight: 900;
      font-family: 'Fraunces', serif;
      margin-bottom: 5%; }
    #projects .graphicdesign p {
      margin-top: 0;
      margin-bottom: 10%;
      margin-right: 20%;
      margin-left: 20%; }
  #projects .photography {
    width: 50%;
    height: 70vh;
    background-image: url("../images/desktop/image-photography.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: end;
    color: #19536b; }
    #projects .photography h3 {
      font-size: 1.5rem;
      font-weight: 900;
      font-family: 'Fraunces', serif;
      margin-bottom: 5%; }
    #projects .photography p {
      margin-top: 0;
      margin-bottom: 10%;
      margin-right: 20%;
      margin-left: 20%; }

#testimonios {
  text-align: center;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10%; }
  #testimonios h2 {
    color: #818498;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    letter-spacing: 5px;
    margin: 5%;
    width: 100%; }
  #testimonios article {
    width: 33%; }
    #testimonios article img {
      width: 50px;
      border-radius: 50%; }
    #testimonios article p {
      margin: 50px 5px;
      color: #5a636c; }
    #testimonios article h5 {
      font-family: 'Fraunces', serif;
      color: #23303e; }
    #testimonios article span {
      color: #a7abae;
      font-size: 0.8em; }

#imagenes {
  display: flex;
  flex-flow: row wrap; }
  #imagenes div {
    width: 25%; }
    #imagenes div img {
      width: 100%;
      height: 100%; }

footer {
  height: 50vh;
  color: #458c7e;
  background-color: #91D3C5;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center; }
  footer #logo svg path {
    fill: #458c7e; }
  footer #menu {
    width: 30%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; }
    footer #menu a {
      text-decoration: none;
      color: #458c7e;
      transition: 0.2s; }
      footer #menu a:hover {
        color: white; }
  footer #redes {
    width: 15%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; }
    footer #redes img {
      transition: 0.2s; }
      footer #redes img:hover {
        filter: grayscale(100%) saturate(0%) brightness(200%) sepia(100%); }

@media screen and (max-width: 768px) {
  header nav {
    background-color: #3EBFFF; }
    header nav .btn-toggle {
      display: inline-flex; }
    header nav .menu {
      position: fixed;
      height: 100%;
      background-color: #3EBFFF;
      top: 90px;
      text-align: center;
      flex-flow: column wrap; }
      header nav .menu li {
        margin: 15px; }
        header nav .menu li a {
          font-size: 1.5em; }
  #about .imagen {
    width: 100%; }
  #about .texto {
    width: 100%; }
    #about .texto .text {
      max-width: 80%; }
  #services .imagen {
    width: 100%; }
  #services .texto {
    width: 100%; }
    #services .texto .text {
      max-width: 80%; }
  #projects .photography {
    width: 100%; }
    #projects .photography p {
      margin-left: 5%;
      margin-right: 5%; }
  #projects .graphicdesign {
    width: 100%; }
    #projects .graphicdesign p {
      margin-left: 5%;
      margin-right: 5%; }
  #testimonios article {
    width: 100%;
    margin: 10%; }
    #testimonios article p {
      margin: 30px 5px; }
  #imagenes div {
    width: 50%; }
  footer div {
    width: 100%; }
  footer #menu a {
    padding: 15px; }
  footer #redes img {
    margin: 10px; } }
