@media screen and (max-width: 500px) {
    
    #about{
        .imagen{
            width: 100%;
        }
        .text{
            width: 100%;
            div{
                padding: 25px;
            }
        }
    }

    #services{
        .imagen{
            width: 100%;
        }
        .text{
            width: 100%;
            div{
                padding: 25px;
            }

        }
    }

    #projects{
        &>div{
            width: 100%;
            div{
                margin: 0;
            }
        }
    }
    
}