@media screen and (max-width: 768px) {
    
    header{
        nav{
            // position: fixed;
            background-color: #3EBFFF;   

            .btn-toggle{
                display: inline-flex;
            }
            .menu{
                position: fixed;
                height: 100%;
                background-color: #3EBFFF;   

                top: 90px;
                text-align: center;
                flex-flow: column wrap;
                li{
                    margin: 15px;
                    a{
                        font-size: 1.5em;
                    }
                }
            }
        }
    }


    #about{
        .imagen{
            width: 100%;
        }
        .texto{
            width: 100%;
            .text{
                max-width: 80%;
            }
        }
    }

    #services{
        .imagen{
            width: 100%;
        }
        .texto{
            width: 100%;
            .text{
                max-width: 80%;
            }
        }
    }

    #projects{
        .photography{
            width: 100%;
            p{
                margin-left: 5%;
                margin-right: 5%;
            }
        }
        .graphicdesign{
            width: 100%;
            p{
                margin-left: 5%;
                margin-right: 5%;
            }
        }
    }

    #testimonios{
        article{
            width: 100%;
            margin: 10%;
            p{
                margin: 30px 5px;
            }
        }
    }

    #imagenes{
        div{
            width: 50%;
        }
    }
    
    footer{
        div{
            width: 100%;
        }
        #menu{
            a{
                padding: 15px;
            }
        }
        #redes{
            img{
                margin: 10px;
            }
        }
    }
}