@media screen and (max-width: 768px) {
    
    #about{
        .imagen{
            width: 100%;
        }
        .texto{
            width: 100%;
            .text{
                max-width: 80%;
            }
        }
    }

    #services{
        .imagen{
            width: 100%;
        }
        .texto{
            width: 100%;
            .text{
                max-width: 80%;
            }
        }
    }

    #projects{
        .photography{
            width: 100%;
            p{
                margin-left: 5%;
                margin-right: 5%;
            }
        }
        .graphicdesign{
            width: 100%;
            p{
                margin-left: 5%;
                margin-right: 5%;
            }
        }
    }

    #testimonios{
        article{
            width: 100%;
            margin: 10%;
            p{
                margin: 30px 5px;
            }
        }
    }

    #imagenes{
        div{
            width: 50%;
        }
    }
    
    footer{
        #menu{
            width: 100%;
            a{
                padding: 15px;
            }
        }
    }
}