@import "variables";

/*
#ABOUT Y #SERVICES es exactamente lo mismo, cambia solo el color. usa extend
.photography y .graphicDesign igual. Comparten todo menos el color.
*/

*{
    margin: 0;
    padding: 0;
    font-size: $font-size;
    font-family: 'Barlow', sans-serif;
}

header{
    min-height: 100vh;
    background-image: url("../images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        align-items: center;
        padding-top: 15px;
        .logo{
            margin: 25px;
        }
        .menu{
            display: flex;
            flex-flow: row nowrap;
            list-style: none;
            margin-right: 25px;
            transition: ease-in 0.2s;
            li{
                margin-right: 25px;
                border-radius: 25px;
                a{
                    padding: 15px 20px;
                    text-decoration: none;
                    color: $white;
                    display: block;
                }
                &:hover{
                    background-color: rgba($color: $white, $alpha: 0.2);
                    transition: all .5s;
                }
            }
            #contact{
                background-color: $white;
                a{
                    text-transform: uppercase;
                    color: $veryDarkBlue;
                    font-family: 'Fraunces', serif;
                    font-weight: 600;
                }
                &:hover{
                    background-color: rgba($color: $white, $alpha: 0.2);
                    transition: all .5s;
                    a{
                        color: $white;
                    }
                }
            }
        }
        .btn-toggle{
            display: none;
            margin: 25px;
            cursor: pointer;
        }
        .menu.show{
            display: none;
        }
    }

    .banner{
        height: 100%;
        color: $white;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
        margin: 15px;
        .text{
            text-align: center;
            text-transform: uppercase;
            font-family: 'Fraunces', serif;
            font-size: 2.5em;
            letter-spacing: 5px;
            margin-top: 10%;
        }
        .arrow{
            margin-top: 5%;
        }
    }
}

@mixin firstLine($color, $orden){
    display: flex;
    flex-flow: $orden;
    .imagen{
        width: 50%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .texto{
        width: 50%;
        .text{
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            align-content: center;
            padding: 20% 15% 20% 20%;
            h2{
                font-size: 2.1em;
                font-weight: 900;
                font-family: 'Fraunces', serif;
                margin-bottom: 5%;
                color: $veryDarkBlue;
            }
            p{
                margin-bottom: 5%;
                color: $darkGrayish;
            }
            div{
                a{ 
                    padding: 8px;
                    text-transform: uppercase;
                    font-weight: 900;
                    text-decoration: none;
                    color: $veryDarkBlue;
                    font-family: 'Fraunces', serif;
                }
                span{
                    transition: 0.8s;
                    position: relative;
                    top: -8px;
                    z-index: -1;
                    display: block;
                    width: 100%;
                    border-radius: 10px;
                    height: 10px;
                    background-color: $color;
                    opacity: 0.3;
                }
                &:hover{
                    span{
                        opacity: 1;
                    }
                }
            }
        }

    } 
}

#about{
    @include firstLine($yellow, row wrap )
    
}

#services{
    @include firstLine($softRed, row-reverse wrap )
}

@mixin proyectos($color, $imagen){
    width: 50%;
    height: 70vh;
    background-image: url($imagen);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: end;

    color: $color;
    h3{
        font-size: 1.5rem;
        font-weight: 900;
        font-family: 'Fraunces', serif;
        margin-bottom: 5%;
    }
    p{
        margin-top: 0;
        margin-bottom: 10%;
        margin-right: 20%;
        margin-left: 20%
    }
}

#projects{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    .graphicdesign{
        @include proyectos($darkCyan, "../images/desktop/image-graphic-design.jpg");
    }


    .photography{
        @include proyectos($darkBlue, "../images/desktop/image-photography.jpg");
    }
}

#testimonios{
    text-align: center;
    background-color: $white;
    h2{
        color: $darkGrayish;
        text-transform: uppercase;
        font-family: 'Fraunces', serif;
        letter-spacing: 5px;

        margin: 5%;
        width: 100%;
    }
    display: flex;
    flex-flow: row wrap;

    justify-content: space-between;
    padding: 10%;
    article{
        width: 33%;
        img{
            width: 50px;
            border-radius: 50%;
        }
        p{
            margin: 50px 5px;
            color: $veryDarkGrayish;
        }
        h5{
            font-family: 'Fraunces', serif;
            color: $veryDarkBlue;
        }
        span{
            color: $grayishBlue;
            font-size: 0.8em;
        }
    }
}

#imagenes{
    display: flex;
    flex-flow: row wrap;
    div{
        width: 25%;
        img{
            width: 100%;
            height: 100%;
        }
    }
}

footer{
    height: 50vh;
    color: $darkModerateCyan;
    background-color: #91D3C5;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;

    #logo{
        svg{
            path{
                fill: $darkModerateCyan;
            }
        }
    }

    #menu{
        width: 30%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        a{
            text-decoration: none;
            color: $darkModerateCyan;
            transition: 0.2s;
            &:hover{
                color: $white;
            }
        }
    }

    #redes{
        width: 15%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        img{
            transition: 0.2s;
            &:hover{
               filter: grayscale(100%) saturate(0%) brightness(200%) sepia(100%);
            }
        }
    }
}




@import "mediaqueries";